#wrapper div {
	text-align: left;
}

div {
	text-align: center
}

.banner {
	height: 360px;
	overflow: hidden;
}

.banner {
	height: 360px;
	margin-top: 2px;
	overflow: hidden;
}

.banner .content {
	width: 1060px;
	height: 360px;
	margin: 20px auto;
	position: relative;
}

.banner ul li img {
	width: 1024px;
	height: 360px;
}

.banner .content ul {
	width: 10000px;
	margin-left: -1024px;
}

.btn_left, .btn_right {
	display: inline-block;
	width: 21px;
	height: 150px;
	background: url(../../images/banner_tb.jpg) no-repeat;
	position: absolute;
	left: 120px;
	top: 112px;
	transition: all ease 0.6s;
	cursor: pointer;
}

.banner_left, .banner_right {
	width: 160px;
	height: 360px;
	display: inline-block;
	position: absolute;
	background: #cbf5fb;
	left: -160px;
	top: 0;
	opacity: 0.6;
}

.banner_right {
	display: inline-block;
	position: absolute;
	background: #cbf5fb;
	left: 1023px;
	top: 0;
	opacity: 0.6;
}

.btn_right {
	background-position: -29px 0;
	position: absolute;
	left: 16px;
	top: 112px;
}

.banner .content:hover .btn_left {
	opacity: 1;
}

.banner .content:hover .btn_right {
	opacity: 1;
}

.item-name:hover {
	color: #6bccc7;
}

.category {
	margin-top: 10px;
	margin-bottom: 20px
}

.category .title {
	margin-bottom: 10px;
	border-top: 1px solid #cac5c5;
	border-bottom: 1px solid #cac5c5;
	height: 50px;
	text-indent: 1em;
	font-size: 22px;
	color: #2ae0c8;
}

.category .items {
	width: 1020px;
	margin: 0 auto
}

.category .items .item {
	min-width: 150px;
	max-width: 500px;
	height: 150px;
	background: #fff;
	margin: 20px;
	/*float: left;*/
	margin-right: 20px;
	cursor: pointer;
	height: 150px;
}

.category .items .item div {
	text-align: center;
}

.item-banner {
	background: #666;
	height: 150px;
	color: #FFF;
}

.item-header {
	font-size: 12px;
	height: 30px;
	line-height: 40px;
}

.item-name {
	font-size: 20px;
	color: #2e2aea;
	line-height: 25px;
	height: 50px;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
}

.item-author {
	font-size: 14px;
	color: #000;
	/*text-indent: 0em;*/
	padding-bottom: 20px;
}

.item-description {
	font-size: 50px;
	background: #fff;
	height: 20px;
	line-height: 20px;
	text-indent: 2em;
	font-size: 15px;
}